.container {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	background-color: #151515;
	gap: 4rem;
	min-height: 100vh;
}

.navWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin-bottom: 2rem;
}
