@import './variables';

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'JetBrains';
	src: url('./assets/JetBrains.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family: JetBrains, monospace;
	color: $baseText;
}

a {
	color: $baseText;
	font-size: 1.1em;
	text-decoration: none;
}

a:hover {
	color: $hoverLinkText;
}

h1 {
	font-size: 2.2em;
	font-weight: 600;
	text-align: center;
	margin-bottom: 0;
}

h2 {
	font-size: 1.2em;
	font-weight: 600;
	color: $baseText;
	text-align: center;
	margin-bottom: 2.3em;
}
